@using mvstwo.Model;
@model OkeiSiteContext; 
@{
    
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<div class="main">
    <header class="header">
        <div class="container">
            <div class="inner2">
                <nav>
                    <img src="/image/logo.png" width="80" height="46" alt="">
                </nav>
                <h1>Цифровой образовательный контент</h1>
                <div class="login">
                    <a class="name-box_item_user" data-id="78325">@ViewBag.rar</a>
                </div>
                <div class="menu">
                    <span style="font: size 40px;cursor:pointer; color: #2e57ed;margin-left: auto;"
                          onclick="openNav()">☰</span>
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                        <a asp-controller="CokMain" asp-action="Main">Главная</a>
                        <a asp-controller="CokMain" asp-action="ProfileTeacher">Личный кабинет</a>
                        <a asp-controller="CokMain" asp-action="LogOut">Выйти</a>
                    </div>
                    <script type="text/javascript" src="/app.js">   </script>
                </div>
            </div>

    </header>
</div>
<h2>Создание темы для цифрового образовательного контента</h2>
<form method="post">
    <p>
        <label>Тема</label><br />
        <input type="text" asp-for="@Model.Coks.FirstOrDefault().Theme" style="width: 50%;" value="" />
    </p>
    <p>
        <label>СПО</label><br />
        <input type="text" asp-for="@Model.Coks.FirstOrDefault().Spo" style="width: 50%;" value="" />
    </p>
    <p>
        <label>МДК</label><br />
        <input type="text" asp-for="@Model.Coks.FirstOrDefault().Mdk" style="width: 50%;" value="" />
    </p>
    <p>
        <label>Проф. модуль</label><br />
        <input type="text" asp-for="@Model.Coks.FirstOrDefault().Pm" style="width: 50%;" value="" />
    </p>
    <p hidden>
        <label>Проф. модуль</label><br />
        <input type="text" asp-for="@Model.Coks.FirstOrDefault().IdTeacher" style="width: 50%;" value="1" />
    </p>

    <p>
        <label>ЕОМ1</label><br />
        <input type="text" name="EomNames[0]" style="width: 50%;" value="" />
    </p>
    <p>
        <label>ЕОМ2</label><br />
        <input type="text" name="EomNames[1]" style="width: 50%;" value="" />
    </p>
    <p>
        <label>ЕОМ3</label><br />
        <input type="text" name="EomNames[2]" style="width: 50%;" value="" />
    </p>
    
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>