@using System.Collections;
@using mvstwo.Model;
@model mvstwo.Model.OkeiSiteContext;
@{
    int a = ViewBag.IdCok;
    int eom = @Model.Eoms.FirstOrDefault
                    (q => q.Id == @Model.Contents.FirstOrDefault
                        (q => q.IdCoks == @Model.Coks.FirstOrDefault
                            (q => q.Id == a).Id).IdEom1).Id;
    mvstwo.Model.Cok cok = Model.Coks.FirstOrDefault(q => q.Id == a);
    mvstwo.Model.Eom eom1 = Model.Eoms.FirstOrDefault(q => q.Id == eom);
    int i = 1;
    // var lections = ViewData["Lections"] as IEnumerable<object>;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site</title>
  <link rel="stylesheet" href="/css/place.css">
</head>

<body>
  
    <div class="block">
        <form id="fooForm" asp-controller="Cokmain" asp-action="cok" method="post">
    <input type="number" name="IdCok" value="@a" readonly hidden>
            <a href="#" id="submit_link" href="index.html" class="back">На Главную</a>
      </form>
        <script>
            document.getElementById('submit_link').addEventListener('click', function (event) {
                event.preventDefault(); // предотвращаем действие по умолчанию, чтобы страница не перезагружалась

                // отправляем форму
                document.getElementById('fooForm').submit();
            });
        </script>
      <h2>@eom1.Name
      </h2>
      <div class="place__header">
      <p>Изучите лекционный материал. Чтобы перейти к учебному материалу, кликните на
        каждую из иконок.</p>
      </div>
      <div class="inner">
            @{
                var lections = Model.Lections.Where(q => q.Eom == eom).ToList();
            }
            @foreach (mvstwo.Model.Lection lection in lections)
            {

                @if(lection.Icon != null)
                {
                    <a href="#openModal+@i" class="getter__block" onclick="changeBorderColor(@i)">
                        <img alt="Здесь должно быть изображение" src="/image/data/@Model.Images.FirstOrDefault(q=>q.Id == lection.Icon).Path">
                        <p>@lection.Title</p>
                        @{
                            i++;
                        }
                    </a>
                }
            
                else
                {
                        <a href="#openModal+@i" class="getter__block" onclick="changeBorderColor(@i)">
                            <img alt="Здесь должно быть изображение">
                <p>@lection.Title</p>
                @{
                    i++;
                }
            </a>
            }
            }
                
          
      </div>
    </div>
  <div class="line">

  </div>
    @{
        i = 1;
    }
    @foreach (mvstwo.Model.Lection lection in lections)
    {
                
                <div id="openModal+@i" class="modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#close" title="Close" class="close">×</a>
          <h3 class="modal-title">@lection.Title</h3>
        </div>
         @{
               var lectionsblocks = lection.LectionBlocks.ToList();
          }
        @foreach(mvstwo.Model.LectionBlock lectionBlock in lectionsblocks)
        {
           <div class="modal-body">
              <p>1 @lectionBlock.Textlection</p>
              @if(lectionBlock.Image != null)
                 {
                      <img alt="Здесь должно быть изображение" src="/image/data/@Model.Images.FirstOrDefault(q=>q.Id == lectionBlock.Image).Path">
                 }
                            
           </div>
        }
                    @{
                        i++;
                    }
      </div>
    </div>
  </div>
            }
  <script>
    function changeBorderColor(blockNumber) {
      var getterBlock = document.querySelector('.inner').querySelectorAll('.getter__block')[blockNumber - 1];
      var blockText = getterBlock.querySelector('p');
  
      getterBlock.style.border = '2px solid rgb(179, 179, 181)';
      blockText.style.color = '#b3b3b5'; // Замените 'your_desired_color' на желаемый цвет текста
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var videoPlayer = document.querySelector('#openModal3 video');
  
      document.querySelector('#openModal3 .close').addEventListener('click', function() {
        videoPlayer.pause();
      });
    });
  </script>
</body>

</html>