@model mvstwo.Model.OkeiSiteContext;
@{
    int nowPageTest = ViewBag.nowPage;
    int a = ViewBag.IdCok;
    int eom = @Model.Eoms.FirstOrDefault
                    (q => q.Id == @Model.Contents.FirstOrDefault
                        (q => q.IdCoks == @Model.Coks.FirstOrDefault
                            (q => q.Id == a).Id).IdEom3).Id;
    mvstwo.Model.Cok cok = Model.Coks.FirstOrDefault(q => q.Id == a);
}   
<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style1.css">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="true"/>
		
		
	</head>
	<body style="background-color: rgb(230,233,237);">
		<form id="fooForm123" asp-controller="Cokmain" asp-action="cok">
		<input type="number" name="IdCok" value="@a" readonly hidden>
		<a id="submit_link123" class="back">На Главную</a>
	</form>
	<script>
		document.getElementById('submit_link123').addEventListener('click', function (event) {
			event.preventDefault(); // предотвращаем действие по умолчанию, чтобы страница не перезагружалась

			// отправляем форму
			document.getElementById('fooForm123').submit();
		});
	</script>
	
	<div id="wrapper">
		<div id="container" class="show-green">
		<header role="banner" class="header" style="display: none;">
			<div class="title">
				<h1 id="js-Colontitle" class="title_text title_middle js-title">ОКЭИ</h1>
			</div>
		</header>
		<header role="banner" class="header__result-page" style="">
			<div class="title">
				<h1 id="js-Colontitle" class="title_header title_middle js-title">Отчет о выполнении задания</h1>
			</div>
		</header><div id="curResultPage" class="content__result-page" style="display: flex;">
		<div class="resultpage">
			<div class="resultpage">
				<div class="item-result row-results">
					<div class="item-result_desc">
						<div class="item-result_text">Выполнено задание</div>
						<div class="item-result_title" id="language-I-check-completed">@Model.Eoms.FirstOrDefault(q => q.Id == eom).Name</div>
					</div>
					<div class="item-result_desc">
						<div class="wrap-item-result_desc">
							<div class="item-result_text">Тема</div>
							<div class="item-result_title">@cok.Theme</div>
						</div>
					</div>
				</div>
			<div class="item-result row-results">
				<div class="item-result_desc">
					<span class="language-Total-questions">Количество шагов</span> 
					<span id="totalSteps" class="resultpage_desc_element js-answers-total">@Model.VirtualTrainers.Where(q => q.Eom == eom).Count()</span>
				</div>
				<div class="item-result_desc">
					<span class="language-Time-spent">Затраченное время</span> 
					<span class="resultpage_desc_element js-time-spent" id="timer">03:52</span>
				</div>
				<div class="item-result_desc">
					<span>Ваша оценка</span> 
					<span id="balls" class="resultpage_percent js-percent"></span>
				</div>
			</div>
		<div class="item-result" data-result-diagram="">
			<div class="item-result_desc list-results">
				<div class="result-answers">
					<span class="language-Incorrect-answers">Неправильные шаги</span>
					<span id="incorrectCount" class="resultpage_desc_element js-answers-correct">10</span>
				</div>	
				<div class="result-answers rotate">
					<div class="result-diagram">
						<div class="part-diagram first-part">
							<div class="part-diagram middle-part">
								<div class="part-diagram last-part">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="result-answers">
					<span class="language-Correct-answers">Правильные шаги</span>
					<span id="correctCount" class="resultpage_desc_element js-answers-correct">2</span>
				</div>
			</div>
		</div>
		
		<div class="item-result btn-block">
			<button id="js-printReport" class="btn-print btn-report" onclick="print();">Печать Отчета</button>
		</div>
		<div class="item-result_desc">
			<form id="fooForm1" asp-controller="Cokmain" asp-action="QuizReturn" method="post">
								
								<input type="number" name="IdCok" value="@a" readonly hidden>
								<input type="number" name="nowquiz" value="0" readonly hidden>
								<input type="number" name="score" value="0" readonly hidden>
								<input type="number" name="timeMinute" value="00" readonly hidden>
								<input type="number" name="timeSecond" value="00" readonly hidden>
								<input type="submit" value="Повторить" class="btn-retry" data-retry-module="">

								<input type="number" name="scoreO" id="scoreO" readonly hidden>
								<input type="number" name="uscoreO" id="uscoreO" readonly hidden>
								<input type="number" name="timeMinuteO" id="timeMinuteO" readonly hidden>
								<input type="number" name="timeSecondO" id="timeSecondO" readonly hidden>
								<input type="number" name="IdEom" id="IdEom" value="@eom" readonly hidden>
								<input type="number" name="ballso" id="ballso" readonly hidden>
			</form>
							@* <a href="#" id="submitr" class="btn-retry" data-retry-module="">
								Повторить
							</a> *@
            <script>
                document.getElementById('submitr').addEventListener('click', function (event) {
                    event.preventDefault(); // предотвращаем действие по умолчанию, чтобы страница не перезагружалась

                    // отправляем форму
                    document.getElementById('fooForm').submit();
                });
            </script>
           </div>
           
		   
			  </div>
              <!-- <button class="place__back">На шаг назад</button>
              <button class="place__back">Ответить</button>  -->
              <div></div>
           </div>
		   </main>
        </div>
    </div>
    <div class="line">

    </div>
 <script>

        // Получение параметров из URL
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        
        // Получение значений переменных
        var score = urlParams.get('score');
        var timeMinute = urlParams.get('timeMinute');
        var timeSecond = urlParams.get('timeSecond');

        document.getElementById('timer').textContent = timeMinute + ":" + timeSecond;
        document.getElementById('correctCount').textContent = score;
        document.getElementById('incorrectCount').textContent = @Model.VirtualTrainers.Where(q => q.Eom == eom).Count() - score;
		document.getElementById('balls').textContent = Math.round(score / @Model.VirtualTrainers.Where(q => q.Eom == eom).Count() * 5);

		document.getElementById('scoreO').value = score;
		document.getElementById('uscoreO').value = @Model.VirtualTrainers.Where(q => q.Eom == eom).Count() - score;
		document.getElementById('timeMinuteO').value = timeMinute;
		document.getElementById('timeSecondO').value = timeSecond;
		document.getElementById('ballso').value = Math.round(score / @Model.VirtualTrainers.Where(q => q.Eom == eom).Count() * 5);

			
    </script>
</body>
</html>

